<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/uztec/index.json" />
        <add key="nuget-org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="uztec" />
            <add key="ClearTextPassword" value="5e4d121c4c597d651997d8906d412468dde91872" />
        </github>
    </packageSourceCredentials>
	<apikeys>
		<add key="hsttps://www.nuget.org/api/v2/package" value="oy2cpzxnyzhp365l4l6aojcm2ysjr57udg4rwag2s5o474" />
	</apikeys>
</configuration>